</head>
<body>
    <nav>
        <h1>Your Games</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/games">All Games</a></li>
            <li><a href="/games/new">Add a Game</a></li>
        </ul>
    </nav>