<%- include('partials/header')%>
<h1><%=game.title%></h1>
<form action="/games/<%=game._id%>?_method=DELETE" method="POST">
<button type="submit">Delete it permanently</button>
</form>

<%- include('partials/footer')%>