<%- include('partials/header')%>
    <main>
        <h1>Welcome To a library about games made from you</h1>
        <a href="/games">Show Games</a>
        <p>This page is just made for gaming fan who wanna share about there passion of games and tell what they like and dislike and share their exprience with us</p>
    </main>
    <%- include('partials/footer')%>
