<%- include('partials/header')%>
<link rel="stylesheet" href="/css/home.css">
<%- include('partials/nav')%>
    <main>
        <h1>Welcome To a library about games made from you</h1>
        <p>This page is just made for gaming fan who wanna share about there passion of games and tell what they like and dislike and share their exprience with us</p>
        <a href="/games">Show Games</a>
       
    </main>
    <%- include('partials/footer')%>
