img{
    width: 100%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
iframe{
    width: 80%;
    height: 100%;
}
.button{
    display: flex;
    justify-content: space-evenly;
}
article, section, .options{
    border: white 3px solid;
    border-radius: 10px;
    margin: 10px;
}